:root{
    --nav-width: 100px;
    --red: 127;
    --green: 255;
    --blue: 212;
    --tone: 0.95;
    --body-fill: rgb(var(--red), var(--green), var(--blue));
    --body-item: rgb(0, 0, 80);
    --nav-fill: rgb(255, 127, 80);
    --fieldset-fill: rgb(calc( var(--tone)*var(--red)   )
                        ,calc( var(--tone)*var(--green) )
                        ,calc( var(--tone)*var(--blue)  )
                        );
}


body{
    background-color: var(--body-fill);
    color: var(--body-item);
    font-family: 'Candara';
    font-size: 18px;
    margin: 0 0 0 var(--nav-width);
}


nav{
    background: var(--nav-fill);
    width: var(--nav-width);
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
}


.nav-link {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
}


.nav-link:hover {
    font-weight: bolder;
}


h1,a{
    color:var(--body-item);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}


.SVG{
    width:100%;
    height:100%;
}


legend{
    font-weight: bolder;
}


fieldset{
    background-color: var(--fieldset-fill);
}


fieldset:hover{
    filter: brightness(var(--tone));
}


textarea{
    width:100%;
}

